<section class="about py-5 d-flex flex-column justify-content-center align-items-center">
    <div class="title text-center mb-4">
        <h1 class=" ">ABOUT COMPONENT</h1>
        <div class="   d-flex justify-content-center align-items-center">
            <div class="line me-3" style="background-color: rgb(233, 237, 242);"></div>
            <i class=" fa-solid fa-star"></i>
            <div class="line ms-3" style="background-color: rgb(255, 255, 255);"></div>
        </div>
    </div>
    <div class=" container ">

        <div class="row px-5">
            <div class="col-md-6 ps-md-5">
                <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
            </div>
            <div class="col-md-6 pe-5">
                <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
            </div>
        </div>
    </div>
</section>