<section class="contact p-4 ">
    <div class="container ">
        <div class="title text-center">
            <h1 class=" ">CONTACT SECTION</h1>
            <div class="   d-flex justify-content-center align-items-center">
                <div class="line me-3" style="background-color: rgb(44, 62, 80);"></div>
                <i class=" fa-solid fa-star"></i>
                <div class="line ms-3" style="background-color: rgb(44, 62, 80);"></div>
            </div>
        </div>

        <div class=" container  d-flex flex-column justify-content-center align-items-center w-75 py-5">
            <form action="" class="  w-100">
                <input type="text" placeholder="userName" class=" form-control py-3 mt-4  ">
                <input type="number" placeholder="userAge" class=" form-control py-3 mt-4  ">
                <input type="email" placeholder="userEmail" class=" form-control py-3 mt-4  ">
                <input type="password" placeholder="userPassword" class=" form-control py-3 mt-4  ">
                <button class=" btn  text-white">Send Message</button>

            </form>

        </div>

    </div>
</section>