h1 {
    color: var(--second-color);
    ;
}

button {
    background-color: var(--main-color);
    margin: 24px 0px 0px;
    padding: 6px 12px;
}

button:hover {
    background-color: var(--main-color);
}

i {
    color: var(--second-color);
}